.tippy-box[data-theme~='light-border'] {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .tippy-box[data-theme~='light-border'] .tippy-content {
    padding: 8px;
    color: #333;
    font-size: 14px;
  }